<div class="login-container center-margin">
  <div class="inside">
    <img src="../assets/img/kinvo.png" 
      alt="logo" class="img-logo">
    <p>
      <strong>Painel de Administração</strong>
    </p>
    <p>
      Insira abaixo seus dados de acesso:
    </p>
    <div class="form-login">
      <input type="text" class="control-frm" placeholder="Login" 
        id="txtLogin" />
      <input type="password" class="control-frm" 
        placeholder="Senha" id="txtSenha" />
      <button class="btn">
        Entrar
      </button>
    </div>
  </div>
  <a href="#">Esqueci minha senha</a>
</div>