<div class="login-container center-margin">
    <div class="inside">
      <img src="../assets/img/kinvo.png" 
        alt="logo" class="img-logo">
      <p>
        <strong>Painel de Administração</strong>
      </p>
      <p>
        Insira abaixo seus dados de acesso:
      </p>
      <div class="form-login">
        <form (ngSubmit)="login()">
          <input type="text" #email
            class="control-frm" 
            placeholder="Informe seu e-mail" />
          <input type="password" #senha
            class="control-frm" 
            placeholder="Insira aqui sua senha" />
          <button type="submit" class="btn btn-primary">
            Entrar
          </button>
        </form>
      </div>
    </div>
    <a href="#">Esqueci minha senha</a>
  </div>